In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
#See columns for Measurement
inspector = inspect(engine)
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [11]:
#See columns for Station
inspector = inspect(engine)
columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Climate Analysis

In [12]:
# Calculate the date 1 year ago from the last data point in the database
latest = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
print(latest)

year_ago = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print(year_ago)

('2017-08-23',)
2016-08-23

In [19]:
# Perform a query to retrieve the data and precipitation scores
prec = session.query(Measurement.prcp).filter(Measurement.date >= '2016-08-23')
date =session.query(Measurement.date).filter(Measurement.date >= '2016-08-23')
# Save the query results as a Pandas DataFrame and set the index to the date column

prec_df = pd.DataFrame({"Prec": prec,"Date": date})
prec_df.head(50)

      Prec          Date
0    (0.0)  (2016-08-23)
1   (0.08)  (2016-08-24)
2   (0.08)  (2016-08-25)
3    (0.0)  (2016-08-26)
4    (0.0)  (2016-08-27)
5   (0.01)  (2016-08-28)
6    (0.0)  (2016-08-29)
7    (0.0)  (2016-08-30)
8   (0.13)  (2016-08-31)
9    (0.0)  (2016-09-01)
10   (0.0)  (2016-09-02)
11   (0.0)  (2016-09-03)
12  (0.03)  (2016-09-04)
13  (None)  (2016-09-05)
14  (None)  (2016-09-06)
15  (0.05)  (2016-09-07)
16   (0.0)  (2016-09-08)
17  (0.03)  (2016-09-09)
18   (0.0)  (2016-09-10)
19  (0.05)  (2016-09-11)
20   (0.0)  (2016-09-12)
21  (0.02)  (2016-09-13)
22  (1.32)  (2016-09-14)
23  (0.42)  (2016-09-15)
24  (0.06)  (2016-09-16)
25  (0.05)  (2016-09-17)
26   (0.0)  (2016-09-18)
27   (0.0)  (2016-09-19)
28   (0.0)  (2016-09-20)
29   (0.0)  (2016-09-21)
30  (0.02)  (2016-09-22)
31   (0.0)  (2016-09-23)
32   (0.0)  (2016-09-24)
33   (0.0)  (2016-09-25)
34  (0.06)  (2016-09-26)
35  (0.02)  (2016-09-27)
36   (0.0)  (2016-09-28)
37   (0.0)  (2016-09-29)
38   (0.0)  (2016-09-30)
39   (0.0)  (2016-10-01)
40   (0.0)  (2016-10-02)
41   (0.0)  (2016-10-03)
42   (0.0)  (2016-10-04)
43   (0.0)  (2016-10-05)
44   (0.0)  (2016-10-06)
45   (0.0)  (2016-10-07)
46   (0.0)  (2016-10-08)
47   (0.0)  (2016-10-09)
48   (0.0)  (2016-10-10)
49   (0.0)  (2016-10-11)

In [ ]:
# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data
# x_axis = date
# y_axis = prec
# plt.bar(x_axis,y_axis)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
prec_df.describe()

In [ ]:
# Design a query to show how many stations are available in this dataset?
session.query(Station.name).count()

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`